<head>

</head>
<body>
<h1>{{title}}</h1>
<p> {{title}}</p>
<p>{{des}}</p>
<p id ="one">Test</p>
<p id ="2"></p>
<p id ="3"></p>
<div id = "nii">
    <div id="output"></div>
</div>
<h1>Test</h1>

<table id="example" class="table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>

    </tr>
    </thead>
    <tfoot>
    <tr>
        <td id = "row_boro"></td>
        <td id = "row_building"></td>
        <td id = "row_cusine_description"></td>
        <td id = "row_dba"></td>
        <td id = "row_grade"></td>
        <td id = "row_grade_date"></td>
        <td id = "row_inspection_date"></td>
        <td id = "row_phone"></td>
        <td  id = "row_street"></td>
        <td id = "violation_decription"></td>
        <td id = "zipcode"></td>


    </tr>
    </tfoot>
</table>

<script>




$.ajax({

    type: "GET",
    url: "https://data.cityofnewyork.us/resource/9w7m-hzhe.json",
    data: {

        "$limit":5 ,
        "$$app_token": "0iDqpBVJpxoL57GWfnkPn7qZr"
    }}).done(function( data ) {

   data.forEach(function(element){


       var crele = document.createElement("p");
       var space = "   ";
       var tablestart = "<table>";
       var tableend = "</table>";
       var trstart = "<tr>";
       var trend = "</tr>";
       var boro = tablestart+ trstart+ element.boro+ trend + space +  element.dba + space + element.grade + space + element.phone +space + element.violation_description + space + element.zipcode + tableend;

       crele.append(boro);

       var output = document.getElementById("output");
       output.innerHTML = crele;

       console.log(crele)



     /*  for (var i = 0; i < data.length;  i++){






       }*/


   })



});















</script>

</body>