<head>

</head>
<body>
<h1>{{title}}</h1>
<p> {{title}}</p>
<p>{{des}}</p>
<p id ="dad"></p>

<h1>Test</h1>

<table id="example" class="table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th >Boro{{data.boro}}</th>
        <th>Building</th>
        <th>Cuisine Description</th>
        <th>DBA</th>
        <th >Grade</th>
        <th >Grade Date</th>
        <th >Inspection Date</th>
        <th >Phone</th>
        <th>Street</th>
        <th >Violation Description</th>
        <th >Zipcode</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td id = "row_boro"></td>
        <td id = "row_building"></td>
        <td id = "row_cusine_description"></td>
        <td id = "row_dba"></td>
        <td id = "row_grade"></td>
        <td id = "row_grade_date"></td>
        <td id = "row_inspection_date"></td>
        <td id = "row_phone"></td>
        <td  id = "row_street"></td>
        <td id = "violation_decription"></td>
        <td id = "zipcode"></td>


    </tr>
    </tfoot>
</table>

<script>




$.ajax({
                method: "GET",
                url: "https://data.cityofnewyork.us/resource/9w7m-hzhe.json/?",
                data: {

                    "$limit" : 3,
                    "$$app_token" : "0iDqpBVJpxoL57GWfnkPn7qZr"

                }, success: function(data){

        console.log(data);

        data.forEach(function(element){



            if (element.grade == undefined){

                console.log("No Grade available Yet for this Place")
            }

            else

            {

                console.log("Inspection Grade:" + "" + element.grade)
            }
        })
    }






            })


</script>

</body>