<head>

</head>
<body>
<h1>{{title}}</h1>
<p> {{title}}</p>
<p>{{des}}</p>
<p id ="dad"></p>

<h1>Test</h1>

<table id="example" class="table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>

    </tr>
    </thead>
    <tfoot>
    <tr>
        <td id = "row_boro"></td>
        <td id = "row_building"></td>
        <td id = "row_cusine_description"></td>
        <td id = "row_dba"></td>
        <td id = "row_grade"></td>
        <td id = "row_grade_date"></td>
        <td id = "row_inspection_date"></td>
        <td id = "row_phone"></td>
        <td  id = "row_street"></td>
        <td id = "violation_decription"></td>
        <td id = "zipcode"></td>


    </tr>
    </tfoot>
</table>

<script>




$.ajax({
                method: "GET",
                url: "https://data.cityofnewyork.us/resource/9w7m-hzhe.json/?",
                data: {

                    "$limit" : 3,
                    "$$app_token" : "0iDqpBVJpxoL57GWfnkPn7qZr"

                }, success: function(data){

                console.log(data)
    }
});



</script>

</body>