




<h1>{{title}}</h1>
<p>Welcome to the fast {{title}}</p>
<p>{{des}}</p>
<p id ="dad"></p>

<h1>Test</h1>

<script>




    $.ajax({
                method: "GET",
                url: "https://data.cityofnewyork.us/resource/9w7m-hzhe.json",
                data: {

                    "$limit" : 5000,
                    "$$app_token" : "0iDqpBVJpxoL57GWfnkPn7qZr"

                }
            })
            .done(function( data ) {
                alert("Retrieved " + data.length + " records from the dataset!");
                console.log(data);

            });


</script>

<div>

    <table>



    </table>


</div>

<h>Love</h>